<!DOCTYPE html>
<html lang="en">

<body>

<div>
	<a href="/graph1">
		<img src="https://vignette.wikia.nocookie.net/iceage/images/e/ec/Scrat_Ice_Age.png/revision/latest?cb=20160423191114">
</div>


</body>
</html>
